:root {
    --padding: 5px;
    --footerHeight: 30px;
    --navHeight: 40px;
    --asideWidth: 90px;
    --text-color: rgb(230,230,230);
    --shade: rgb(17,15,15);
    --layer0 : rgb(32, 27, 27);
    --layer1: rgb(20, 12, 12);
    --layer2: rgb(97,88,82);
    --highlight: rgb(231,215,180);

    --blue: rgb(56, 80, 90);
    --lightblue: rgb(90, 128, 133);
}

* {
    box-sizing: border-box;
}

em {
    font-style: italic;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

strong {
    font-weight: bolder;
}

ul {
    list-style-type: circle;
    list-style-position:inside;
}

body {
    background: var(--layer0);
    color: var(--text-color);
    font-family: sans-serif;
}

main, aside, footer, nav {
    position: fixed;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    height: var(--navHeight);
    background: var(--layer1);
}

nav > * {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

nav p {
    font-size: 28px;
    padding-left: 15px;
}

main, aside {
    top: var(--navHeight);
    bottom: var(--footerHeight);
}

main {
    z-index:10;
    left: var(--asideWidth);
    right: 0;
    padding: var(--padding);
}

aside {
    left: 0;
    width: var(--asideWidth);
    background: var(--layer1);
    border-right: var(--highlight) solid 2px;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

aside a {
    font-size: 20px;
    margin-bottom: 10px;
    padding: var(--padding);
}

footer {
    bottom: 0;
    left: 0;
    height: var(--footerHeight);
    background: var(--layer1);
    width: 100%;
    text-align:center;
    z-index:0;
}

footer p {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.active-tab {
    background: var(--layer2);
}

.clean-blue {
    background: var(--blue);
    color: rgb(230,230,230);
    border-color: white;
}

.clean-blue .active-tab {
    background: var(--lightblue);
}

#themes-button {
    right: 15px;
}

.invert {
    filter: invert(1);
}

input[type=checkbox] {
    display:block;
    opacity:0;
    position: absolute;
    width:0;
}

.check-button {
    cursor: pointer;
    display: block;
    filter: invert(0);
    /* color: var(--text-color);
    background: var(--lightblue); */
    padding: 8px 12px;
    transition: .15s;
    /* border: var(--blue) solid 2px;
    border-radius: 18px; */
    /* box-shadow: 3px 3px var(--blue); */
}

.check-button img {
    width: 30px;
}

/* input[type=checkbox]:checked +.check-button {
    filter: invert(1);
    
} */

/* PREFAB POSITIONING CLASSES */
.top, .right, .bottom, .left, .center-y, .center-x, .center {
    position: absolute
}

.top {
    top: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.center-y {
    transform: translateY(-50%);
    bottom: 50%;
}

.center-x {
    transform: translateX(-50%);
    left: 50%;
}

.center {
    transform: translate(-50%, -50%);
    bottom: 50%;
    left: 50%;
}

@media only screen and (max-width: 450px) {
    aside {
        top: initial;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        width: 100%;
        border: none;
        text-align:center;
    }

    aside a {
        display: inline-block;
        width: 33%;
        height: 100%;
        text-align:center;
    }

    footer {
        display: none;
    }

    main {
        left: 0;
        bottom: 50px;
    }
}