:root {
    --padding: 5px;
    --footerHeight: 30px;
    --asideWidth: 90px;
    --text-color: rgb(230,230,230);
    --shade: rgb(17,15,15);
    --layer0 : rgb(31,24,24);
    --layer1: rgb(56,49,47);
    --layer2: rgb(97,88,82);
    --highlight: rgb(231,215,180);
}

* {
    box-sizing: border-box;
}

em {
    font-style: italic;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style-type: circle;
    list-style-position:inside;
}

body {
    background: var(--layer0);
    color: var(--text-color);
    font-family: sans-serif;
}

main, aside, footer {
    position: fixed;
}

main, aside {
    top: 0;
    bottom: var(--footerHeight);
}

main {
    z-index:10;
    left: var(--asideWidth);
    right: 0;
    padding: var(--padding);
}

aside {
    left: 0;
    width: var(--asideWidth);
    background: var(--layer1);
    border-right: var(--highlight) solid 2px;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

aside a {
    font-size: 20px;
    margin-bottom: 10px;
    padding: var(--padding);
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align:center;
    z-index:0;
}

footer .center {
    position: relative;
    z-index: 0;
}

.active-tab {
    background: var(--layer2);
}

#themes-button {
    position: absolute;
    transform: translateX(-50%);
    bottom: 30px;
    left: 50%;
}

input[type=checkbox] {
    display:block;
    opacity:0;
    position: absolute;
    width:0;
}

.check-button {
    cursor: pointer;
    display: block;
    color: var(--highlight);
    background: var(--layer0);
    padding: 8px 12px;
    transition: .15s;
    border: var(--highlight) solid 2px;
    border-radius: 18px;
    box-shadow: -3px 3px var(--highlight);
}

input[type=checkbox]:checked +.check-button {
    background: var(--layer2);
    color: white;
}

/* PREFAB POSITIONING CLASSES */
.top, .right, .bottom, .left, .center-y, .center-x, .center {
    position: absolute
}

.top {
    top: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.center-y {
    transform: translateY(-50%);
    bottom: 50%;
}

.center-x {
    transform: translateX(-50%);
    left: 50%;
}

.center {
    transform: translate(-50%, -50%);
    bottom: 50%;
    left: 50%;
}