#gallery {
    overflow-y: scroll;
    height: 400px;
    width: 100%;
}

.thumbnail {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 150px;
    max-height: 150px;
}
.thumbnail p {
    background: rgba(0, 0, 0, 0.644);
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    z-index: 5;
    width: 100%;
    text-align:center;
}