#about {
    padding-top: var(--padding);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
}

#logo {
    padding: 5px;
}

#bio, #bio-clean {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align:center;
}

#bio article {
    display: inline-block;
    width:100%;
    text-align:center;
    vertical-align: top;
    padding: 15px;
    font-size: 18px;
    line-height: 1.25em;
}

#bio article ul {
    padding-left: 15px;
}

#summary, #summary-clean {
    line-height: 1.25em;
    font-size: 18px;
    width: 100%;
    padding: 15px;
    position: relative;
    background: var(--shade);
}

#summary-clean {
    background: var(--blue);
    color: white;
    padding: 15px;
}

#summary-clean #portrait {
    border: white solid 4px;
}

#summary p, #summary-clean p {
    display: inline-block;
    text-align:left;
    max-width: 500px;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

#portrait {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    text-align:left;
    overflow: hidden;
    margin-right: 15px;
    width: 200px;
    height: 200px;
    border: solid var(--highlight) 4px;
}

#portrait img {
    position: absolute;
    transform: translateX(-10%);
    max-width: 125%;
    max-height: 125%;
}

#tabs {
    text-align:center;
    width: 100%;
}

#tabs a {
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    width: 30%;
    border-bottom: var(--text-color) dashed 1px;
    border-top: var(--text-color) dashed 1px;
    transition: .15s;
}

#tabs a:hover {
    color: var(--highlight);
    /* text-shadow: 0 0 5px var(--highlight); */
    border-color: var(--highlight);
}

.clean-links a {
    background: var(--blue);
    color: white;
}

.clean-links a:hover {
    background: var(--layer0);
}

@media only screen and (max-width: 860px) {
    #summary p, #summary-clean p {
        transform: none;
        top: initial;
    }
}